{{>navbar}}
<div class="container">
  <div class="card">
    <div class="imgBx">
      <img src="{{prod.image}}" />
    </div>
    <div class="contentBx">
      <h2>{{prod.title}}</h2>
      <div class="size">
        <h3>{{prod.description}}</h3>

      </div>
      <div class="color">
        <h3>Precio : </h3>
        <span class="soles">S/. {{prod.price}} soles</span>

      </div>
      <a href="#">Comprar</a>
      <a href="#">Agregar al carrito</a>
    </div>
  </div>
</div>