<style>
  /* Estilos básicos para el navbar */ .navbar { position: sticky; top: 0;
  width: 100%; display: flex; justify-content: space-between; align-items:
  center; background-color: #333; padding: 10px; color: white; z-index: 100; /*
  Asegura que el navbar esté encima del contenido */ } /* Estilos para el botón
  de logout */ .logout-button { background-color: #e74c3c; color: white; border:
  none; padding: 8px 12px; border-radius: 4px; cursor: pointer; } /* Estilos
  para hacer el navbar responsive */ @media screen and (max-width: 768px) {
  .navbar { flex-direction: column; align-items: flex-start; } .logout-button {
  margin-top: 10px; } }
</style>

<div class='navbar'>
  <div>
    <h1>CREMANI</h1>
  </div>
  <div>
    <!-- Botón de logout -->
    <button class='logout-button' id='logout'>Logout</button>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js'
></script>
<script src="js/logout.js"></script>
